#map {
        height: 98%;
        width: 62%;
        position: absolute;
        right: 10px;
        top: 10px;
        bottom: 10px;
        border: thick double #32a1ce;
      }

body{
	font-size: 12px;
	font-family: sans-serif;
	background: #F0F8FF;
	background-image: linear-gradient(90deg, violet, cyan);
	margin-left:15px;
}
/* liste */
#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  margin: 10px;
  width: 17%;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 10px;
  height: 525px;
  width: 34%;
  border:1px solid #ccc;
  overflow:auto;
}


#myUL li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}


      
     
      
#searchbtn {
    background-color: #226ee8;
    border: none;
    color: white;
    padding: 13px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
}
      
      
.eventbtn{
    background-color: #226ee8;
    border: none;
    color: white;
    padding: 13px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
}

.linkbtn{
    background-color: #226ee8;
    border: none;
    color: white;
    padding: 13px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
}


/* fleches */
.arrow {
  position: absolute;
  padding: 1rem; /* Arrow size */
          box-shadow: 1px -1px 0 1px #508ced inset;
  -webkit-box-shadow: 2px -2px #508ced inset;
  border: solid transparent;
  border-width: 0 0 2rem 2rem;
  transition: 0.2s;
}

.arrow:hover {
          box-shadow: 2px -2px 0 2px #2869d3 inset;
  -webkit-box-shadow: 4px -4px #2869d3 inset;
}

.arrow-up    { transform:rotate(135deg) }
.arrow-right { transform:rotate(225deg) }
.arrow-down  { transform:rotate(-45deg) }
.arrow-left  { transform:rotate(45deg) }

#next{
	position:absolute;
	right:61.5%
}

#prev{
	position:absolute;
	left:0%;
}
      
      
      
     